<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/users">Admin Panel</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/users">Users</a>
            </li>
            <li>
                <a routerLink="/tokens">Tokens</a>
            </li>
            <li>
                <a routerLink="/users/6">Tokeddnsdsds sdasd sad</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>
