<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AdminPanel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLinkActive='active' [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active'[routerLink]="['/tokens']">Tokens</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <div class="container">
      <router-outlet></router-outlet>

  </div>
</main>
