  <div>
  <h2>Ranking</h2>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nick">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nick </th>
    <td mat-cell *matCellDef="let element"> <a [routerLink]="['/user', element.id]">{{element.nick}}</a> </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
    <td mat-cell *matCellDef="let element"> {{element.points}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
